html{ 
    background: url("sfondo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    margin: 0%;
}

/*HEADER*/
header{
    padding: 1%;
    border-top: 40px solid #570293;
}

img.logo{
    width: 7%;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: -2.5%;
}

h1.title{
    margin: 0% 0% 0% 10%;
    color: white;
}

/*Social*/
ul.social{
    list-style-type: none;
    margin: -3% 1% 0% 0%;
}

li.social{
    display: inline-block;
    font-size: 200%;
    padding-right: 10px;
}

a.social{
    text-decoration: none;
}

a.fa-youtube-play{
    color: red;
}

a.fa-twitch{
    color: #6441a5;
}

a.fa-instagram{
    color: #E1306C;
}

a.fa-twitter{
    color: #1DA1F2;
}

a.fa-discord{
    color: white;
}

/*Menu*/
ul.menu{
    list-style-type: none;
    padding: 0%;
    overflow: hidden;
}

li.menu a.menu{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menu a.menu:hover:not(.active){
    background-color: #9370DB;
    transition: 1s;
}

li.active a.active{
    background-color: #570293;
    border-bottom: none;
}

/*PAGINE SOCIAL*/
iframe.player{
    padding: 3%;
    width: 560px;
    height: 315px;
}

iframe.discord{
    padding: 2%;
}

video.player{
    padding: 3%;
    width: 560px;
    height: 315px;
}

div.descrizione{
    width: 40%;
}

h1.descrizione{
    text-align: center;
    font-size: 300%;
}

p.descrizione{
    text-align: center;
    font-size: 200%;
}

div.player{
    width: 60%;
}

a.player{
    text-decoration: none;
    font-size: 500%;
    padding-top: 5%;
    padding-left: 40%;
    color: black;
}

a.player:hover{
    color: white;
    transition: 1.5s;
}

a.button{
    display: block;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 0% 10% 4% 10%;
    padding: 14px 16px;
    text-decoration: none;
}

a.youtube{
    background-color: #ac1813;
}

a.youtube:hover{
    background-color: #9d2622;
    transition: 1s;
}

a.twitch{
    background-color: #6034b2;
}

a.twitch:hover{
    background-color: #503484;
    transition: 1s;
}

a.instagram{
    background-color: #C13584;
}

a.instagram:hover{
    background-color: #833AB4;
    transition: 1s;
}

a.twitter{
    background-color: #00b9ff;
}

a.twitter:hover{
    background-color: #0094cc;
    transition: 1s;
}

a.discord{
    background-color: #424549;
}

a.discord:hover{
    background-color: #1e2124;
    transition: 1s;
}

/*Youtube*/
div.youtube{
    margin: 3% 0% 0% 0%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 80%;
    background-color: red;
}

/*Twitch*/
div.twitch{
    margin: 3% 0% 0% 0%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 80%;
    background-color: #6441a5;
    float: right;
}

/*Instagram*/
div.instagram{
    margin: 3% 0% 0% 0%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 80%;
    background-color: #E1306C;
    float: left;
}

/*Twitter*/
div.twitter{
    margin: 3% 0% 0% 0%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 80%;
    background-color: #1DA1F2;
    float: right;
}

/*Discord*/
div.discord{
    margin: 3% 0% 0% 0%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 80%;
    background-color: #7289da;
    float: left;
}

/*FLOAT*/
.left{
    float: left;
}

.right{
    float: right;
}