body{
    margin: 0%;
}

/*HEADER*/
header{
    padding: 1%;
    border-top: 40px solid #570293;
}

img.logo{
    width: 7%;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: -2.5%;
}

h1.title{
    margin: 0% 0% 0% 10%;
}

/*Social*/
ul.social{
    list-style-type: none;
    margin: -3% 1% 0% 0%;
}

li.social{
    display: inline-block;
    font-size: 200%;
    padding-right: 10px;
}

a.social{
    text-decoration: none;
}

a.fa-youtube-play{
    color: red;
}

a.fa-twitch{
    color: #6441a5;
}

a.fa-instagram{
    color: #E1306C;
}

a.fa-discord{
    color: #424549;
}

/*Menu*/
ul.menu{
    list-style-type: none;
    padding: 0%;
    overflow: hidden;
}

li.menu a.menu{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

li.menu a.menu:hover:not(.active){
    text-decoration: underline;
}

li.active a.active{
    background-color: #FFFFFF;
    border-top: 5px solid #570293;
    border-right: 5px solid #570293;
    border-bottom: none;
}

/*PAGINE SOCIAL*/
iframe.player{
    padding: 3%;
    width: 560px;
    height: 315px;
}

video.player{
    padding: 3%;
    width: 560px;
    height: 315px;
}

div.descrizione{
    width: 40%;
}

h1.descrizione{
    text-align: center;
    font-size: 300%;
}

p.descrizione{
    text-align: center;
    font-size: 200%;
}

div.player{
    width: 60%;
}

a.player{
    text-decoration: none;
    font-size: 500%;
    padding-top: 5%;
    padding-left: 40%;
    color: black;
}

/*Youtube*/
div.youtube{
    margin: 3% 0% 0% 0%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 80%;
    background-color: red;
}

/*Twitch*/
div.twitch{
    margin: 3% 0% 0% 0%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 80%;
    background-color: #6441a5;
    float: right;
}

/*Instagram*/
div.instagram{
    margin: 3% 0% 0% 0%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 80%;
    background-color: #E1306C;
    float: left;
}

/*FLOAT*/
.left{
    float: left;
}

.right{
    float: right;
}